<div class="container">
  <div class="d-flex flex-column col-md-9">

    <!-- dropdown -->
    <form action="/filter" method="GET">
      <div class="input-group filter-category mb-3 mt-3 container-fluid ">
        <select class="form-control" name="categorySelect" id="categorySelect">
          <option value="" selected>分類</option>
          {{#each categories}}
          <option {{#is this.title ../categorySelected}} selected {{/is}} value="{{this.title}}"> {{this.title}}
          </option>
          {{/each}}
        </select>
        <div class="row">
          <div class="col">
            <select class="form-control" name="yearSelect" id="yearSelect">
              <option value="" selected>年份</option>
              {{#each years}}
              console.log()
              <option {{#is this ../yearSelected}} selected {{/is}} value="{{this}}"> {{this}}
              </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <select class="form-control" name="monthSelect" id="monthSelect">
              <option value="" selected>月份</option>
              {{#each months}}
              <option {{#is this ../monthSelected}} selected {{/is}} value="{{this}}"> {{this}}
              </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <input type="submit" class="btn btn-outline-info" value="篩選">
          </div>
        </div>
      </div>
    </form>
    <form action="/filter" method="GET">
      <div class="input-group filter-category mb-3 container-fluid">
      </div>
    </form>

    <!-- display total amount -->
    <div class="total-amount-section m-3 d-flex justify-content-evenly">
      <span class="total-amount-title m-3">總金額：</span>
      <span class="total-amount m-3">{{ totalAmount }}</span>
    </div>

    <!-- display each record -->
    <div class="list-group" id="data-panel">

      {{#each records}}
      <div class="row">
        <!-- category icon -->
        <div class="col col-auto justify-content-center">
          <i class="fas {{ this.icon }}"></i>
        </div>

        <!-- name & date -->
        <div class="col">
          <div>{{ this.name }}</div>
          <div class="fs-7">{{ dateToString this.date }}</div>
        </div>

        <!-- amount -->
        <div class="col col-auto text-end">{{ this.amount }}</div>

        <!-- edit/delete button -->
        <div class="col col-auto">
          <a href="/records/{{ this._id }}/edit" class="btn btn-outline-secondary">修改</a>
        </div>
        <div class="col col-auto">
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-outline-danger btn-delete" type="submit"
              onclick="return confirm('Are you sure you want to delete this record?');">刪除</button>
          </form>
        </div>
      </div>
      {{/each}}

      <!-- create -->
      <div class="row">
        <div class="col my-3" style="text-align:center">
          <a href="/records/new">
            <button type="button" class="col-2 btn bg-orange text-white">新增支出</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>